<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is my first Ruby on Rails Webpage!!</p>
  <hr class="my-4">
  <p>Pretty cool eh?</p>
  <%= link_to "Learn More About Me", home_about_path, class: "btn btn-primary btn-lg" %>
 
</div>